<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta property="og:title" content="Personal Portfolio" />
    <meta property="og:description" content="My Personal Portfolio" />
    <meta property="og:url" content="{{ url }}" />

    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
      rel="stylesheet"
    />

    <link lang="css" rel="stylesheet" href="./static/styles/global.css" />
    <link lang="css" rel="stylesheet" href="./static/styles/main.css" />

    <link
      rel="stylesheet"
      href="./static/styles/font-awesome/css/font-awesome.css"
    />
    <link rel="icon" href="./static/img/favicon.ico" type="image/x-icon" />
    <title>{{ title }}</title>
  </head>

  <body>
    <main id="home">
      <div class="background"></div>
      <div class="container">
        <div class="introduction">
          <div class="info">
            <div class="image">
              <img src="./static/img/profile.jpeg" alt="Arshia Zakeri" />
            </div>
            <div class="name">Arshia Zakeri</div>
            <div class="title">Software Engineer, AI Engineer</div>
            <div class="shortIntro">I program computers to do cool things.</div>
          </div>
          <ul class="listOfContent">
            <li>
              <div class="line"></div>
              &nbsp;&nbsp;about
            </li>
            <li>
              <div class="line"></div>
              &nbsp;&nbsp;experiences
            </li>
            <li>
              <div class="line"></div>
              &nbsp;&nbsp;projects
            </li>
          </ul>
          <div class="socials">
            <a href="https://github.com/ArshiaZr" target="__blank">
              <i class="fa fa-facebook" aria-hidden="true"></i>
            </a>
            <a
              href="https://www.linkedin.com/in/arshiazakeri/"
              target="__blank"
            >
              <i class="fa fa-linkedin" aria-hidden="true"></i>
            </a>
            <a href="mailto:zrr.arshia@gmail.com">
              <i class="fa fa-envelope" aria-hidden="true"></i>
            </a>
          </div>
        </div>
        <div class="contents">
          <div class="detailedAbout">
            <div class="title">about</div>
            <div class="wrapper">
              Driven software engineer with a strong background in development,
              DevOps, and leadership. Pursuing Machine Learning certifications.
              Passionate about mathematics, with two bronze medals from WMC and
              TIMO Olympiads.
              <br />
              <br />
              Lately, my main focus has been on crafting seamless full-stack
              solutions and diving deep into AI engineering and data science. I
              find my passion at the intersection of elegant design and robust
              engineering, where aesthetics harmonize with functionality. Beyond
              work, I'm pursuing a bachelor's degree in Computer Science with a
              minor in Mathematics, delving into the theoretical foundations
              that underpin modern technology.
              <br />
              <br />
              When I'm not at the computer, I'm typically playing soccer,
              practicing violin, immersing myself in music, or working out.
            </div>
          </div>
          <div class="experienceContainer">
            <div class="title">experiences</div>
            <div class="wrapper">
              <div class="resume">
                <a href="/docs/resume.pdf" target="__blank">
                  <p>View Full Résumé</p>
                  <GoArrowUpRight />
                </a>
              </div>
              <div class="experiencesWrapper">
                {% for experience in experiences %}
                <div class="experience">
                  <div class="date">
                    {{ experience.startDate }} - {{ experience.endDate }}
                  </div>
                  <div class="details">
                    <div class="roleAndCompany">
                      <span>{{ experience.role }}</span>&nbsp;·&nbsp;<span
                        >{{ experience.company }}</span
                      >&nbsp;
                      <GoArrowUpRight />
                    </div>
                    <div class="location">
                      <span>{{ experience.location }}</span>
                    </div>
                    <ul class="bulletPoints">
                      {% for each in experience.bulletPoints %}
                      <li>·&nbsp;{{ each }}</li>
                      {% endfor %}
                    </ul>
                    {% if experience.links|length > 0 %}
                    <div class="links">
                      {% for link in experience.links %}
                      <a
                        class="link"
                        href="{{link.link}}"
                        target="{{link.target}}"
                      >
                        <i class="fa fa-paperclip"></i>
                        <span>{{link.title}}</span>
                      </a>
                      {% endfor %}
                    </div>
                    {% endif %} {% if experience.tags|length > 0 %}
                    <div class="tags">
                      {% for tag in experience.tags %}
                      <div class="tag">{{tag}}</div>
                      {% endfor %}
                    </div>
                    {% endif %}
                  </div>
                </div>
                {% endfor %}
              </div>
            </div>
          </div>
          <div class="projects">
            <div class="title">projects</div>
            <div class="wrapper">
              {% for project in projects %}
              <div class="project">
                <div class="preview">
                  <div class="visualWrapper">
                    {% if project.image|length > 0 %}
                    <img src="{{project.image}}" alt="{{title}}" />
                    {% endif %} {% if project.video|length > 0 %}
                    <video src="{{project.video}}" autoplay loop muted></video>
                    {% endif %}
                  </div>
                </div>
                <div class="details">
                  <div class="title">
                    <span>{{project.title}}</span>
                    {% if project.demoLink|length > 0 %}
                    <GoArrowUpRight />
                    {% endif %}
                  </div>

                  <div class="description">
                    <p>{{project.description}}</p>
                  </div>

                  {% if project.links|length > 0 %}
                  <div class="links">
                    {% for link in project.links %}
                    <a
                      class="link"
                      href="{{link.link}}"
                      target="{{link.target}}"
                    >
                      <i class="fa fa-paperclip"></i>
                      <span>{{link.title}}</span>
                    </a>
                    {% endfor %}
                  </div>
                  {% endif %} {% if project.tags|length > 0 %}
                  <div class="tags">
                    {% for tag in project.tags %}
                    <div class="tag">{{tag}}</div>
                    {% endfor %}
                  </div>
                  {% endif %}
                </div>
              </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
